/*  your css code here. If applicable */
body {
  background: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btn {
  background: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.stop {
  background: #f44336;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
